.carousel-indicators li {
    background-color: black;
    border-radius: 100%;
    height: 15px;
    width: 15px;
}

.header-text {
    position: absolute;
    top: 20%;
    left: 10%;
    right: auto;
    width: 96.66666666666666%;
    color: black;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: rgba(0, 0, 0, 0.301);
    padding: 10px;
}

.header-text h3 span {
    padding: 15px;
}